## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
my_list = ['Nueva York', 'Hong Kong', 'Nueva Deli', 'Monte rey']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(my_list)

['Nueva York', 'Hong Kong', 'Nueva Deli', 'Monte rey']

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(my_list[1:5])

['Hong Kong', 'Nueva Deli', 'Monte rey']

4) Visualizar el tipo de dato de la lista

In [4]:
type(my_list)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(my_list[2:])

['Nueva Deli', 'Monte rey']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
my_list[0:4]

['Nueva York', 'Hong Kong', 'Nueva Deli', 'Monte rey']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [35]:
my_list.append('Nueva Deli')

8) Agregar otra ciudad, pero en la cuarta posición

In [12]:
my_list.insert(3,'Roma')

9) Concatenar otra lista a la ya creada

In [34]:
my_other_list = ['berlin','CDMX']
print(type(my_other_list))
my_list.insert(0,my_other_list) 
print(my_list)

<class 'list'>
[['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX'], ['berlin', 'CDMX']]

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [37]:
index_nuevaDeli = my_list.index('Nueva Deli')
print(index_nuevaDeli)

11

11) ¿Qué pasa si se busca un elemento que no existe?

In [39]:
# nos da un error el cual indica que el elemento no esta en lista
print(my_list.index('Londres'))

ValueError: 'Londres' is not in list

12) Eliminar un elemento de la lista

In [40]:
my_list.remove('CDMX')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [41]:
#nos indica que el elemto que queremos borrar no existe
my_list.remove('Paris')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [43]:
ultimo_my_list = my_list.pop()
print(ultimo_my_list)

['berlin', 'CDMX']

15) Mostrar la lista multiplicada por 4

In [44]:
print(4*my_list)

[['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX']]

16) Crear una tupla que contenga los números enteros del 1 al 20

In [48]:
my_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
type(my_tupla)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [49]:
print(my_tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [50]:
print(20 in my_tupla)
print(30 in my_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [57]:
if 'Paris ' not in my_list:
    my_list.insert(1,'Paris') 
print(my_list.index('Paris'))
print(my_list)

1
[['berlin', 'CDMX'], 'Paris', 'Paris', 'Paris', ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], ['berlin', 'CDMX'], 'Nueva York', 'my_other_list', 'my_other_list', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', 'berlin', 'CDMX', ['berlin', 'CDMX']]

In [62]:
# Crear una nueva lista para almacenar los elementos únicos
unique_list = []

# Agregar elementos únicos a la nueva lista
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

# Ahora unique_list contendrá la lista sin duplicados mientras mantiene el orden original
print(unique_list)

[['berlin', 'CDMX'], 'Paris', 'Nueva York', 'my_other_list', 'Hong Kong', 'Nueva Deli', 'Roma', 'Monte rey', 'Tokyo', 'berlin', 'CDMX']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [68]:
#las ocurrencias de de un elemento de las lista y la tupla son:
lista = my_list.count('Paris')
tupla = my_tupla.count(10)
print('el elemento 10 de la tupla esta',tupla,'veces,',' el elemto Paris de la lista esta',lista,'veces')

el elemento 10 de la tupla esta 1 veces,  el elemto Paris de la lista esta 3 veces

21) Convertir la tupla en una lista

In [69]:
my_tupla = list(my_tupla)
type(my_tupla)

list

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [71]:
x = my_tupla[0]
y = my_tupla[1]
z = my_tupla[2]

print("Variable x", x)
print("Variable y", y)
print("Variable z", z)

Variable x 1
Variable y 2
Variable z 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [72]:
my_dicc = {
    'ciudad' : ['my_list'],
    'Pais' : ['Alemania','Mexico','Italia','Estados Unidos'],
    'Continente' : ['Europa','America','Asia','Africa']
}

24) Imprimir las claves del diccionario

In [76]:
print(my_dicc.keys())

dict_keys(['ciudad', 'Pais', 'Continente'])

list

25) Imprimir las ciudades a través de su clave

In [77]:
for ciudad in my_list:
    print(ciudad)
print("las ciudades del diccionario son : ", my_dicc['ciudad'])

['berlin', 'CDMX']
Paris
Paris
Paris
['berlin', 'CDMX']
['berlin', 'CDMX']
['berlin', 'CDMX']
['berlin', 'CDMX']
['berlin', 'CDMX']
Nueva York
my_other_list
my_other_list
my_other_list
Hong Kong
Nueva Deli
Roma
Monte rey
Tokyo
berlin
berlin
CDMX
berlin
CDMX
berlin
CDMX
berlin
CDMX
berlin
CDMX
['berlin', 'CDMX']
las ciudades del diccionario son :  ['my_list']